.box-shadow-white {box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); padding : 5px;}

.box-shadow-white:hover {box-shadow: 5px 5px 5px rgba(157, 157, 0, 0.15);}

.text-center { align :text-center;}

.title h3 { }"www/js/myapp.js"